.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.button {
  background: var(--primary);
  border: none;
  cursor: pointer;
  color: var(--gray-900);
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
}
